@model MessageWall.Models.CounterModel
@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Demo Counter</h1>
    <div class="display-4">@Model.Counter</div>
</div>

<form method="post" class="text-center">
    <input type="hidden" name="meow" value="@Model.Counter" />
    <button type="submit" asp-action="OnIncrement">Increment</button>
    <button type="submit" asp-action="OnDecrement">Decrement</button>
</form>
